* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
html,
body {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 10, 10);
}
header {
  width: 100%;
  height: 55px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
header strong {
  color: #fff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: min(500px, 85%);
}
main #userImage {
  display: flex;
  align-items: center;
  width: 190px;
  border-radius: 50%;
}
main #afterImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
main #afterImage::after {
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
}
main #userName {
  font-weight: 400; 
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 10px;
}
main .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: min(500px, 85%);
}
main .search #inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
main .search label {
  font-size: 14px;
  color: #fff;
  margin-bottom: 3px;
}
main .search .outInput {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 35px;
  border-radius: 8px;
  padding-left: 8px;
}
main .search .outInput #enterUserName {
  background: none;
  border: none;
  padding-block: 7px;
  width: 100%;
  font-size: 14px;
}
main .search #clearInputUsername {
  padding: 2px;
  background: none;
  border: none;
  color: #000;
  line-height: 0;
  margin-right: 8px;
  cursor: pointer;
}
main .search #enterUserName:focus {
  outline: none;
}
main .search #clearInputUsername svg path {
  transition: fill 100ms ease;
}
main .search #clearInputUsername:hover svg path {
  fill: rgb(61, 61, 61);
}
main .search #clearInputUsername:focus {
  outline: none;
}
main .search #searchUser {
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 8px;
  border: none;
  background-color: rgb(2, 112, 255);
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 1px 2px 5px -2px rgba(255,255,255,1);
  -moz-box-shadow: 1px 2px 5px -2px rgba(255,255,255,1);
  box-shadow: 1px 2px 5px -2px rgba(255,255,255,1);
  transition: all 400ms ease;
}
main .search #searchUser:hover {
  filter: brightness(1.1);
  -webkit-box-shadow: 1px 3px 12px -10px rgba(255,255,255,1);
  -moz-box-shadow: 1px 3px 12px -10px rgba(255,255,255,1);
  box-shadow: 1px 3px 12px -5px rgba(255,255,255,1);
}
main #userBio {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
main #counterFollows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  margin-top: 15px;
}
main #reposAndLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}
main .error {
  display: none;
  background-color: #fff;
  color: #fff;
  height: 300px;
  width: min(500px, 85%);
  padding: 10px;
  border-radius: 15px;
  position: fixed;
  top: 25%;
  z-index: 2;
  opacity: 1;
}
main .error #close {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}
main .error img {
  height: 100px;
  margin-top: -10px;
}
main .error .contentError {
  text-align: center;
  color: #000;
}
main .error .contentError #titleError span {
  font-weight: 600;
  font-size: 22px;
  color: rgb(35, 166, 199);
}
main .error .contentError #titleError {
  font-weight: 600;
  font-size: 18px;
  color: rgb(35, 166, 199);
  margin-top: 10px;
}
main .error .contentError #textError {
  color: rgb(87, 87, 87);
  font-weight: 500;
  font-size: 16px;
  margin-top: 32px;
}
#modalBackground {
  display: none;
  position: fixed;
  background: #000;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: auto;
  height: 40px;
  width: 100%;
  color: #fff ;
  font-size: 12px;
}
footer a {
  color: rgb(0, 238, 255) ;
  text-decoration: none;
}